:root {
  --primary: #ff7900;
  --background-linear-one: #ffdbba;
  --background-linear-two: #ffe9d4;
  --white: #fff;
  --smooth-white: #f2f2f2;
  --secoundary: #555;
}

body {
  color: var(--secoundary);
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .news-card .card {
    width: 100% !important;
  }

  .image-container .img-fluid {
    width: 100% !important;
  }

  .hero-section img {
    display: none;
  }

  .about-img-container img {
    display: none !important;
  }

  .budaya-card {
    width: 100%;
    padding: 10px;
  }

  .kuliner-card .kuliner-img img {
    width: 500px;
    height: 200px;
    object-fit: cover;
  }

  .kuliner-card {
    background-color: var(--white);
    border: 1px solid var(--smooth-white);
    padding: 10px 30px;
  }

  .budaya-card .button-container {
    text-align: center;
    margin-top: 30px;
  }

  .button-container button {
    width: 100%;
  }
}

.budaya-card .budaya-img img {
  height: 300px;
  object-fit: cover;
}

.kuliner-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.news-card .card {
  height: 340px;
}

.news-card img {
  height: 190px;
  object-fit: cover;
}

.slide-show-img {
  height: 22rem;
  width: 30rem;
  object-fit: cover;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.features-section .card {
  height: 25rem;
}

.logo {
  width: 6rem;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 18px !important;
  font-weight: 500;
}

.head-section {
  background-image: linear-gradient(
    180deg,
    var(--background-linear-one),
    var(--background-linear-two)
  );
}

.image-container .img-fluid {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.navbar-brand,
.text-primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border: none;
}

.nav-link:hover {
  color: var(--primary);
}

p {
  font-size: 18px;
}
.btn-primary:hover {
  background-color: var(--primary) !important;
}

.blue-bg {
  background-color: var(--primary);
  color: var(--white);
}

.ionicons {
  color: var(--primary);
  background-color: var(--smooth-white);
  padding: 10px;
  height: 30px;
  width: 30px;
  margin-bottom: 12px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .active {
  background-color: var(--primary) !important;
  border: none;
  color: var(--white) !important;
}

.footer-section {
  background-color: var(--primary) !important;
  border: none;
  color: var(--white) !important;
}
